@model prova_nexo_web.Models.ClienteModel

@{
    ViewBag.Title = "Details";
}

    <div>
        <h2>Cliente : @Model.Nome</h2>
        @if (ViewBag.statusMaster != null)
        {
            <p><span>Seu status:<strong> @ViewBag.statusMaster</strong></span></p>
        }
        else
        {
            <p>Você ainda não atingiu nenhum status</p>
        }

    </div>



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SobreNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SobreNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
